.controller.input.main.current-self{
    /* visibility: hidden; */
    visibility: hidden; 
    transition: visibility 0.5s linear
 }
  .controller.input.main.current-self.show{
    /* opacity: 1; */
    visibility: visible; 
  }
  .player-ui {
    text-align: center;
    margin: 20px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
  }
  
  .player-ui .player-btns-container{
    padding: 0 10px;
    position: relative;
  }
  .player-ui:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  .player-ui .player-btns-container .player-btn{
    width: min(15%,120px);
    /* width: 120px; */
    height: 100px;
    margin-left:1%;
    margin-right:1%;
    background-color:rgba(237, 249, 255, 0.705);
    border: 3px solid rgba(237, 249, 255, 0.705);
    box-shadow: 0px 0px 10px rgb(173, 192, 233);
    font-size:20px;
    color:rgba(173, 192, 233, 0.705);
    bottom:170px;
    /* animation on show/hide */
  }
  .player-ui .player-btns-container .player-btn.show{
     visibility: visible;
  }

  .controller.input.main.current-self  .player-ui{
    opacity: 0;
    -webkit-animation: Hidden-Bottom-Button 0.3s linear ;  
  }
  .controller.input.main.current-self.show  .player-ui {
     opacity: 1;
    -webkit-animation: Show-Bottom-Button 0.3s linear ;  
  }
  .player-ui .player-btns-container .player-btn.active{
    background-color:rgba(253, 232, 109, 0.7);
  }
  
  .player-ui .player-btns-container .left-side .player-btn{
    float:left
  }
  
  .player-ui .player-btns-container .right-side .player-btn{
    float:right
  }
  
  .player-ui .player-btns-container .player-btn.highlight-btn{
    width: min(17%,160px);
    height: 100px;
  }
  
  .player-ui .player-btns-container .player-btn.highlight-btn.active{
    background-color:rgba(212, 75, 51, 0.7);
  }
  
  .player2{
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  @-webkit-keyframes Hidden-Bottom-Button{
    from{
      opacity: 1;
      bottom: 0px;
    }
    to{
      opacity: 0;
      bottom:-170px;
    }
  }
  @-webkit-keyframes Show-Bottom-Button{
    from{
      opacity: 0;
      bottom:-170px;
    }
    to{
      opacity: 1;
      bottom: 0px;
    }
  }