*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	font-family: monospace;
}
.clear {
	clear: both;
}
.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#gameSection {
	background-color: #fff;
}
#board {
	/* float: left; */
    text-align: center;

}
#board canvas {
	box-shadow: 0px 5px 10px #888;
}
#board .point {
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 4px;
}
#board .point:hover {
	background-color: #eee;
}
#board .marked {
	cursor: default;
}
#info {
	float: left;
	margin-left: 20px;
}
#score {
	display: none;
}
/* Debug CSS */
#devSection {
    position: absolute;
    right: 0px;
    top:0px;
    width: 330px;
	border-top: 2px solid #ddd;
    padding: 10px;
    margin-top: 10px;
	background-color: #eee;
  }
#devSection #toggleLink {
	color: #999;
	text-decoration: none;
}
#devSection #toggleLink:hover {
	color: #000;
}
#devTools {
}
#devActions {
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 3px;
}
 #devActions .action {
	list-style: none;
	 /* display: inline;  */
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 7px;

	border-top: 1px solid #ccc;
	text-decoration: none;
	color: hsl(220, 50%, 50%);
}
#devActions .action .button{
}
#devActions .action > *{
    list-style: none;
    display: inline;
}
#devActions .action:first-child {
    border: none;
}
#devActions li:hover {
	text-decoration: underline;
}  

#devPiecePropertyAction {
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 3px;
}
#devPiecePropertyAction .action:first-child {
    border: none;
}

.coord_input  {
    width: 30px; height: 10px; padding: 1px
}

/*Piece action Menu*/
#pieceactionmenu{
  position: absolute;
  display: inline-block;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}
#pieceactionmenu .btnaction{
  /*Sorting Order*/
  display: inline-block; 
  vertical-align: top;
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
  height:  100px;
  background-color:#f7f7f7ab;
  border-radius: 45%;
  background-clip: padding-box;
	box-shadow: 0px 0px 10px rgb(173, 192, 233);
  border: 10px solid rgba(221, 221, 221, 0.4);

}

#pieceactionmenu .btnaction * {
  position: relative;
  top:20%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}
#pieceactionmenu .btnaction img {
  opacity: 0.6;
}

#pieceactionmenu .btnaction:active{
  box-shadow: 0px 0px 20px rgb(173, 192, 233);
  background-color:#f7f7f7c9;

}

#pieceactionmenu .btnaction:active img {
  opacity: 0.9;
}

/* Logging CSS*/
#logsection{
  position: absolute;
  width: 360px;
  height: 200px;
  left: 2px;
  bottom: 5px;
  padding: 10px;
  vertical-align: text-bottom;

}
#logsection .log{
  margin-top: 5px;
  background-color: rgba(221, 221, 221, 1);
  height: 17%;
}
#logsection .log:first-child{
  background-color: rgba(221, 221, 221, 0.2);
}
#logsection .log:nth-child(2){
  background-color: rgba(221, 221, 221, 0.4);
}
#logsection .log:nth-child(3){
  background-color: rgba(221, 221, 221, 0.6);
}
#logsection .log:nth-child(4){
  background-color: rgba(221, 221, 221, 0.8);
}


