
  .popup-controller.open .outside{
    visibility: visible;
    opacity: 0.25;
   }
  .popup-controller.open .popup{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  .popup .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
  }
  .popup .content .container {
    padding: 100px 20px 140px;
  }
  .popup .content .closebtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3.1rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    transition: all 0.4s;
  }
  .popup .content .closebtn:hover {
    cursor: pointer;
    color: #f66867;
  }
   .outside {
      position: absolute;
      width: 100%;
      height: 100%;
      left:0px;
      top:0px;
      background-color: #3e4146;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
      z-index: 10;  
   }
   #main-content{
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 100%;
  } 
   @media (min-width: 568px) {
    .popup .content {
      min-height: inherit;
    }
    .popup .content .container {
      padding: 50px 20px 80px;
    }
  } 
  @media (min-width: 768px) {
    .popup .content .container {
      padding: 20px 0px 90px;
      max-width: 720px;
      max-height: 600px;
      margin: 0 auto;
    }
    .popup {
        width: calc(75% – 40px);
        height: calc(75% – 40px);
        max-width: 1200px;
        max-height: 675px;
    }
  } 
  
.popup-grid{
    left:0px;
    display: grid;
    grid-gap:5px;
    grid-template-columns: 19% 19% 19% 19% 19%; 
}
.popup-grid .item-grid{
    padding: 10px;
    border: 1px solid #ddd;
    aspect-ratio: 1;
    transition: all 0.1s;
}
.popup-grid .item-grid .img-portrait{
    width: 100%;
    height: 100%;
    
}
.popup-grid .item-grid:active{
  border: 3px solid rgb(236, 229, 229);
}
.popup-grid .item-grid.selected{
  border: 2px solid rgb(235, 221, 96);
  width: inherit - 1px;
}
.popup-grid .item-grid.selected:active{
  border: 3px solid rgb(235, 221, 96);
}
.popup-grid .item-grid.disable{
  border: 1px solid rgb(182, 188, 189);
  background: rgba(165, 173, 175, 0.637);

}
.popup-grid .item-grid:nth-child(odd):not([class*="disable"]) { 
    background: #f7f7f7; 
}

.popup .btn-container{
  width: 190px;
  position: absolute;
  top:50px;
  right:50px;
}
.popup .btn{
  margin-top: 20px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  background-color: #f66867;
  color: #ffffff;
  border: 1px solid #f66867;
  text-align: center;
  transition: all 0.175s;
}
.popup .btn:hover{
  cursor: pointer;
  background-color: #2ab1ce;
  border-color: #2ab1ce;
}

.popup .btn:active{
  background-color: #f66867;
  border: 5px solid #f66867;
}